<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="endpoint" value="https://gbstorage.documents.azure.com:443/" />
    <add key="authKey" value="1N94Xj6OxdiDJoDypsceEuXng7aBmx5W9TGskQoJaA742ULZxdIVjEAcMUMDOLR9G6SlPGku3VZJ5Sla5dDtEw==" />
    <add key="database" value="ToDoList" />
    <add key="collection" value="Items" />
    <add key="botHost" value="localhost:39739"/>
    <add key="oneMinuteAlerts" value="true"/>
  </appSettings>
</configuration>